@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.human-player-container,
.cpu-player-container {
  margin: 4rem;
}

.human-player-container {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}

.think,
.btn {
  margin: 3rem 0.5rem 1rem 0rem;
}

.btn {
  border: none;
  background-color: rgb(89, 79, 198);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  color: rgba(255, 255, 255, 0.824);
}

.game-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-history-total-wins {
  margin: 2rem 0rem;
}

.human-wins-tally,
.cpu-wins-tally {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 100;
}

li {
  margin-top: 0.7rem;
}
